*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  width: 100%;
  justify-content: center;
  height: calc(auto + 50px);
  display: flex;
  align-items: center;
  background-color: #ff7878;
  background-image: url(../img/bg-intro-desktop.png);
}
.container{
  width: auto;
  max-width: 1200px;
  height: 100vh;
 
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  
}
span{
  font-weight: bolder;
}
button{
  font-weight: 600;
  background-color:  #38cc8c;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  color: white;
  font-weight: bolder;
  border-bottom: solid 2px green; 
  transition: 1s;
}
button:hover{
  
  background-color:#208a5c;
  border-bottom: solid 2px  #32b67d;
}

div.conteudo{
  padding: 20% 0%;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 500px;
}
.box{
  background-color: rgb(96, 85, 165);
  width: 90%;
  padding: 25px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 20px;
  box-shadow: 2px 6px 2px #6e6c6c6c;
}
div.form{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}



div.form input{
  height: 3rem;
  border-radius: 6px;
  padding: 20px;
  border: 1px solid lightgrey;
  width: 100%;
}
div.form p{
  margin-bottom: 15px;
}
.alinhamento{
  border-radius: 6px;
  width: 90%;
  height: auto;
  background-color: rgb(255, 255, 255);
  padding: 6% 4%;
  box-shadow: 2px 6px 2px #6e6c6c6c;
}
.texto{
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto; 
  min-width: 500px;
}
div.texto01{
  width: 65%;
  height: 35%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
div.texto01 p{
  font-weight: 500;
  text-align: left;

}
div.texto01 h1{
  text-align: left;
  font-size: 3rem;
}
p.botton{
  color: lightgray;
  font-weight: 500;
  font-size: 0.9rem;
  text-align: center;
}
span.red{
  color: #ff000086;
  font-weight: bold;
  font-size: 15px;
}
@media (max-width:900px){
.container{
  flex-wrap: wrap;
}
.texto{
  height: auto;
  min-height: 600px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto; 
  min-width: 500px;
}
.box{
  width: 90%;
}
.alinhamento{
  border-radius: 6px;
  width: 90%;
  height: auto;
  background-color: rgb(255, 255, 255);
}
}
.active{
  visibility: visible;
  color: red;
  font-size: 0.7rem;
}
.inv{
  visibility: hidden;
}
